.card{
    width: auto;
    height: 80px;
    transition: 300ms;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 10px 5px 10px rgb(216, 191, 216);
}

.card:hover{
    transform: scale(1.2); /*120%*/
}

body{
    background-color: aquamarine;
    background-image: url(imagenes/fondo.jpg);
}